<div fxLayout="row" style="height:200px">

</div>
<div fxLayout="row">
  <div fxFlex="30"></div>
  <div fxFlex="40">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Project M</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row">
          <div fxFlex>
              <mat-form-field class="full-width">
                <input matInput placeholder="User Name">
              </mat-form-field>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex>
              <mat-form-field class="full-width">
                <input matInput placeholder="Password">
              </mat-form-field>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex>
              <button mat-raised-button color="primary">Login</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="30"></div>
</div>